// Importando as variáveis globais
@use "./variaveis" as *;

// Botão de perguntas
.botaoPerguntas {
    width: 120px;
    height: 30px;
    color: $cor-fonte-escura;
    background-color: $verde-limao;
}

.botaoPerguntas:active {
    background-color: $cor-active-botao;
}