// Estilizando o cabeçalho
.cabecalho {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1.5625rem 3.75rem;

    .logo {
        width: 17.5rem;
        height: 8.125rem;
    }
}

// Responsividade para telas com 1440px de largura
@media screen and (max-width: 1440px) {
    .cabecalho {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 1.5rem 2rem;

        .logo {
            width: 11rem;
            height: 5rem;
        }
    }
}