// Estilizando o cabeçalho
.cabecalho {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1.5625rem 3.75rem;

    .logo {
        width: 17.5rem;
        height: 8.125rem;
    }
}