// Importando as variáveis globais
@use './variaveis' as *;

// Estilizando a página de boas vindas
.boasVindas {
    margin: 0 auto;
    max-width: 90rem;
    overflow-y: auto;

    .introducao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1.25rem;

        .textoBoasVindas {
            color: $cor-fonte-clara;
            font-family: $fonte-titulos;
            font-size: 2.5rem;
            margin-bottom: 2.5rem;
        }

        .logo {
            width: 60.625rem;
            height: 28.4375rem;
        }

        // Estilizando o botão de iniciar
        .botaoIniciar {
            display: flex;
            justify-content: center;
            margin-top: 9.375rem;

            .botao {
                background-color: #6B7280;
                color: $cor-fonte-clara;
                font-family: $fonte-titulos;
                font-size: 2.5rem;
                width: 40.625rem;
                height: 4.375rem;
                border: 2px solid black;
                box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
                box-shadow: inset -3px -3px 6px rgb(0, 0, 0, 0.8);
                cursor: pointer;
            }

            .botao:hover {
                background: transparent;
                background-color: rgb(101, 107, 118, 0.9);
            }
        }
    }
}

// Responsividade para telas com 1440px de largura
@media screen and (max-width: 1440px) {
    .boasVindas {
        margin: 0 auto;
        max-width: 90rem;
        overflow-y: auto;

        .introducao {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 1.25rem;

            .textoBoasVindas {
                color: $cor-fonte-clara;
                font-family: $fonte-titulos;
                font-size: 2.5rem;
                margin-bottom: 10px;
            }

            .logo {
                width: 46.875rem;
                height: 21.875rem;
            }

            .botaoIniciar {
                display: flex;
                justify-content: center;
                margin-top: 4.375rem;
            }
        }
    }
}