// ARQUIVO DE ESTILIZAÇAO DE PERGUNTAS.JSX E PERGUNTASCARD.JSX

// Importando as variáveis globais
@use './variaveis' as *;

/* Estilizando o container principal (Perguntas.jsx) */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .containerPerguntas {
    background-color: $bloco-diamante-opaco;
    padding: 1.2rem 2rem;
    border-radius: 20px;
    color: $cor-fonte-escura;
    overflow-y: auto;
    width: 1200px;
    max-height: 65vh;
    margin-bottom: 15px;
    scrollbar-width: thin;
    scrollbar-color: $bloco-diamante;

    // Estilizando a cor da barra de rolagem
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $bloco-diamante;
    }

    .tituloPerguntas {
      font-family: $fonte-titulos;
      font-size: 35px;
      text-align: center;
      margin-bottom: 20px;
    }

    /* GRID DE MISSÕES */
    .missoes-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 2rem;
    }

    /* CARD */
    .missao-card {

      color: #222;
      border-radius: 16px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
      padding: 1.5rem;
      min-height: 220px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 18px;
    }

    .missao-card:hover {
      transform: translateY(-6px);
      box-shadow: 0 10px 24px rgba(0, 0, 0, 0.4);
    }

    /* TEXTO */
    .missao-card h3 {
      font-size: 1.3rem;
    }

    .missao-card p {
      line-height: 1.5;
    }

    .missao-card .conteudo {
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 0.5rem;
      color: #6a1b9a;
    }
  }
}