// Importando as variáveis globais
@use './variaveis' as *;

// Adicionando uma animação no modal
@keyframes fadeModal {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Estilizando o posicionamento do container do modal
.containerModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 1000;

  // Estilizando o modal
  .modal {
    background-color: $bloco-diamante;
    padding: 1.875rem;
    border-radius: 1.5625rem;
    width: 28.125rem;
    height: auto;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeModal 0.5s ease-in-out forwards;

    .titulo {
      margin-bottom: 2rem;
      font-size: 1.5625rem;
      text-align: center;
    }

    .descricaoPergunta {
      margin-bottom: 2rem;
      line-height: 1.5rem;
      font-size: 1.125rem;
      text-align: center;
    }

    .labelPergunta {
      font-size: 1.125rem;
    }

    .caixaTexto {
      width: 100%;
      height: 2.5rem;
      padding: 0.6rem;
      margin-top: 5px;
      margin-bottom: 1rem;
      font-size: 1rem; 
      border: none;
      border-radius: 15px;
      background-color: $netherrack;
      color: $cor-fonte-clara;
      outline: none;
    }

    // Alterando a cor da fonte do placeholder
    .caixaTexto::-webkit-input-placeholder {
      color: $cor-fonte-clara;
    }

    .erro {
      color: black;
      font-size: 15px;
      text-align: center;
    }

    .modal-botoes {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-top: 1rem;
      gap: 2.5rem;

      .botao {
        width: 5.3125rem;
        height: 1.875rem;
        background-color: $netherrack;
        border: none;
        border-radius: 15px;
        color: white;
        font-size: 1rem;
        transition: background-color 0.2s ease;
        cursor: pointer;
      }

      .botao:hover {
        background-color: #0709FF;
      }
    }

    .resultado {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    img {
      margin-top: 1rem;
      width: 9.375rem;
      height: 9.375rem;
      border: none;
      border-radius: 15px;
      border-radius: 15px;
    }
  }
} 