// Importando as variáveis globais
@use './variaveis' as *;

// Estilizando o posicionamento do container do modal
.containerModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 1000;

  // Estilizando o modal
  .modal {
    background-color: white;
  }

  .titulo {
    margin-bottom: 2rem;

    font-size: 1.6rem;
  }

  p {
    margin-bottom: 1.5rem;

    line-height: 1.5;
  }

  .caixaTexto {
    width: 80%;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border-radius: 6px;

    font-size: 1.2rem;

    
  }

  .modal-botoes {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  .resultado {
    margin-top: 1.5rem;
  }

  img {
    margin-top: 1rem;
    width: 100px;
  }
} 