// Importando as variáveis globais
@use './variaveis' as *;

// Estilizando o balão de fala
.personagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .containerBalaoFala {
        position: relative;
        top: 0;
        left: 0;

        .balaoFala {
            width: 47rem;
            height: 33.75rem;
            position: relative;
            top: -3.75rem;
            display: block;
        }

        .textoBoasVindas {
            font-size: 20px;
            text-align: justify;
            width: 18.125rem;
            height: auto;
            position: absolute;
            top: 0;
            left: 22rem;
        }
    }
}

// Aplicando responsividade nas telas com 1440px de largura
@media screen and (max-width: 1440px) {
    .personagem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .containerBalaoFala {
            position: relative;
            top: 0;
            left: 0;

            .balaoFala {
                width: 30rem;
                height: 20rem;
                position: relative;
                top: -4.5rem;
                display: block;
            }

            .textoBoasVindas {
                font-size: 13px;
                position: absolute;
                top: -2.1rem;
                left: 14rem;
                width: 13rem;
            }
        }
    }
}