// Importando as variáveis globais
@use './variaveis' as *;

// Estilizando o balão de fala
.personagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .containerBalaoFala {
        position: relative;
        top: 0;
        left: 0;

        .balaoFala {
            width: 44.375rem;
            height: 33.75rem;
            position: relative;
            top: -3.75rem;
            display: block;
        }

        .textoBoasVindas {
            font-size: 1.125rem;
            text-align: justify;
            width: 18.125rem;
            height: auto;
            position: absolute;
            top: -5px;
            left: 20.9375rem;
        }
    }
}

// Aplicando responsividade nas telas com 1440px de largura
@media screen and (max-width: 1440px) {
    .personagem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .containerBalaoFala {
            position: relative;
            top: 0;
            left: 0;
            margin-bottom: 10px;

            .balaoFala {
                width: 31.25rem;
                height: 23.125rem;
                position: relative;
                top: -7.5rem;
                display: block;
            }

            .textoBoasVindas {
                font-size: 14px;
                position: absolute;
                top: -4.6875rem;
                left: 13.4375rem;
                width: 15.625rem;
            }
        }
    }
}