// Definindo as variáveis fixas
$bloco-diamante: #57ECFA;
$netherrack: #B02E26;
$verde-limao: #B2F751;
$cor-fonte-escura: #000000;
$cor-fonte-clara: #FFFFFF;
$cor-active-botao: #FFE900;
$opacidade-fundo: rgb(45, 43, 43, 0.7);
$fonte-titulos: "Super Pixel", sans-serif;
$fonte-geral: "Comic Sans MS";

// Estilização geral
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Estilização do wallpaper geral das páginas
body {
  background-image: url("../assets/Images/Wallpaper_Geral.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

// Criando a opacidade para a imagem de fundo
.opacidade {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: $opacidade-fundo;
  min-height: 100vh;
  width: 100%;
}

// Definindo a fonte dos títulos
@font-face {
  font-family: "Super Pixel";
  src: url("../assets/Fonts/SuperPixel.ttf") format("truetype");
}

// Definindo a fonte geral
@font-face {
  font-family: "Comic Sans MS";
  src: url("../assets/Fonts/ComicSansMS.ttf") format("truetype");
}